name: Build Firmware

on:
  workflow_dispatch:
    inputs:
      keyboard:
        description: 'Model klawiatury (sciezka, np. keychron/v1/ansi)'
        required: true
        default: 'keychron/v1/ansi'
      keymap:
        description: 'Mapa (folder, np. default)'
        required: true
        default: 'default'

jobs:
  build:
    runs-on: ubuntu-latest
    container: qmkfm/qmk_cli
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Compile
      # Uzywamy flag SKIP_GIT i SKIP_VERSION zeby ominac sprawdzanie historii gita
      run: qmk compile -kb ${{ github.event.inputs.keyboard }} -km ${{ github.event.inputs.keymap }} -e SKIP_GIT=yes -e SKIP_VERSION=yes

    - name: Archive Firmware
      uses: actions/upload-artifact@v4
      with:
        name: firmware
        path: |
          *.bin
          *.hex
          *.uf2
